*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.section1{
  background-image: url("Images/edwin-andrade-6liebVeAfrY-unsplash.jpg");
  background-size: cover;
  width: 100%;
  height: 30pc;
}

.try{
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  background-color: #555;
}

.img1{
  height: 100px;
  width: 100px;
  border-radius: 10pc;
margin: 10px; 
}

nav{
text-align: center;
padding-left: 17pc;
text-decoration: none;
}

nav ul{
display: flex;
justify-content: center;
}

li{
list-style: none;  
}

li a:hover{
  list-style: none;
  background-color: #969292;
  color: white;
}

a{
  text-align: center;
  text-decoration: none;
  padding: 2pc;
   color: rgb(232, 236, 240);
}

h1{
  margin: 2px;
  padding-left: 30px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  color: bisque;
  text-shadow: 2px 2px goldenrod;
} 
.pworship{
  text-align: center;
  font-size: 30px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.h11{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
  font-size: 70px;
  padding: 100px;
  color: black;
  margin-top: 0%;
}

.but1{
  text-align: center;
  margin-left: 45pc;
  font-size: 30px;
  color: black;
  background-color: rgb(163, 137, 88);
  margin-bottom: 30px;
  border-radius: 10px;
  height: 60px;
  width: 250px;
}

.but1:hover{
background-color: #a08686;
color: white;
}

.h111{
  font-size: 43px;
  color: black;
  text-shadow: none;
  text-align: center;
  margin-top: 50px;
}

.p1{
  font-size: 23px;
  padding-left: 78px;
  margin-top: 30px;
  color: black;
}

.img2{
  height: 35pc;
  width: 30pc;
  margin: 50px;
  border: 2px solid #aaa9a9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.img2:hover{
border: 2px solid black;
}

.div3{
  display: flex;
}

.section2{
  display: flex;
  padding-left: 15px;
  margin: 60px;
}

.img4{
  height: 20pc;
  width: 27pc;
  margin-top: 30px;
  margin-bottom: 0%;
  box-shadow: 10px 10px 10px 10px rgb(231, 231, 231);
}

.but2{
  background-color: white;
  padding-right: 10pc;
  border: 0px white;
  color: black;
}

.but2:hover{
  color: rgb(211, 211, 211);
}

h5{
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
  color: rgb(128, 15, 128);
}

.h1v{
  text-align: center;
  color: black;
  background-color: blue;
  text-shadow: none;
  margin-top: 10px;
  font-size: 30px;
  width: 14pc;
  padding-left: 0%;
  margin-left: 46pc;
}

.section3{
  background-image: url("Images/76e5cdb46d9792d7b2f0ff83548fb9f3_fit.jpg");
   background-size: cover;
  width: 100%;
  justify-content: center;
}

.div4{
display: flex;
padding-top: 40px;
}

.div5{
    -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.img6{
  height: 30pc;
  width: 36.5pc;
  margin-left: 14pc;
  margin-top: 0%;
}

.img7{
   height: 30pc;
   width: 40pc; 
   margin-top: 0%;
   padding-left: 70px;
}

.hv{
  padding-left: 15pc;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  margin: 20px;
  
}

.hv1{
  padding-left: 6pc;
  font-family: sans-serif;
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  margin: 20px;
  
}

.section1{
  background-image: url("Images/CHURCH img1.jpg");
  animation-name: example;
  animation-duration: 10s;
}

@keyframes example {
  25%  {background-image: url("Images/21e394d4ee13a0e1f2775887ff46d568_fit.jpg");}
  50%  {background-image: url("Images/bb48bf2b8e22c8a10893aa61999b2ca8_720x480_fit.jpg");}
  100%  {background-image: url("Images/76e5cdb46d9792d7b2f0ff83548fb9f3_fit.jpg");}
}     

.section4{justify-content: center;
display: flex;
margin-top: 10pc;
}

.img8{
  height: 23pc;
  width: 20pc;
  border-radius: 30px;
  padding: 30px;
  box-shadow: 10px 10px 10px 10px rgb(231, 231, 231);
}

.img8:hover{
  width: 350px;
  height: 380px;
  transform: rotate(360deg);
  background-color: #e6dede;
}

.img9{
  height: 23pc;
  width: 20pc;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgb(231, 231, 231);
}

.img9:hover{
   width: 350px;
  height: 380px;
  transform: rotate(360deg);
  background-color: #e6dede;
}

.img10{
   height: 23pc;
  width: 20pc;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgb(231, 231, 231);
}

.img10:hover{
   width: 350px;
  height: 380px;
  transform: rotate(360deg);
  background-color: #e6dede;
}

.img11{
   height: 23pc;
  width: 20pc;
  padding: 30px;
  border-radius: 30px;
  box-shadow: 10px 10px 10px 10px rgb(231, 231, 231);
}

.img11:hover{
  width: 350px;
  height: 380px;
  transform: rotate(360deg);
  background-color: #e6dede;
}

p{
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: rgba(74, 74, 228, 0.918);
}

